



  <main id="main">

    <div class="site-section site-portfolio">
      <div class="container">
        <div class="row mb-5 align-items-center">
          
        </div>
        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
          <div class="contribute item web col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/contributions" class="item-wrap fancybox">
              <div class="work-info">
                <h1>Contribute</h1>
                {{!-- <span>Web</span> --}}
              </div>
              <img class="img-fluid" src="../../public/template/img/contribution.jpg" alt = "image">
            </a>
          </div>
          <div class="learn item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/learning" class="item-wrap fancybox">
              <div class="work-info">
                <h3>Learn</h3>
                <span>At your pace</span>
              </div>
              <img class="img-fluid" src="../../public/template/img/learn.jpg" alt = "image">
            </a>
          </div>
          <div class="translate item branding col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/translate" class="item-wrap fancybox">
              <div class="work-info">
                <h3>Translate</h3>
                <span>As you speak</span>
              </div>
              <img class="img-fluid" src="../../public/template/img/translate.jpg" alt = "image">
            </a>
          </div>
          <div class="profile item design col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/users/profile" class="item-wrap fancybox">
              <div class="work-info">
                <h3>My profile</h3>
                {{!-- <span>Design</span> --}}
              </div>
              <img class="img-fluid" src="../../public/template/img/profile.jpg" alt = "image">
            </a>
          </div>
          <div class="quiz item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/quiz" class="item-wrap fancybox">
              <div class="work-info">
                <h3>Take a quiz</h3>
                {{!-- <span>Photography</span> --}}
              </div>
              <img class="img-fluid" src="../../public/template/img/quiz.jpg" alt = "image">
            </a>
          </div>
          
        </div>
      </div>
    </div>

    

    
    
  </main>
  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="mb-1">&copy; Copyright MyPortfolio. All Rights Reserved</p>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=MyPortfolio
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Vendor JS Files -->
  <script src="../../public/template/vendor/jquery/jquery.min.js"></script>
  <script src="../../public/template/vendor/jquery/jquery-migrate.min.js"></script>
  <script src="../../public/template/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="../../public/template/vendor/easing/easing.min.js"></script>
  <script src="../../public/template/vendor/php-email-form/validate.js"></script>
  <script src="../../public/template/vendor/isotope/isotope.pkgd.min.js"></script>
  <script src="../../public/template/vendor/aos/aos.js"></script>
  <script src="../../public/template/vendor/owlcarousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../../public/template/js/main.js"></script>





{{!-- <div>
    <div><a href="/translate">Translate Now!</a></div>
    <div><a href="/contributions">Contributions</a></div>
    <div><a href="/users">User Profile</a></div>
    <div><a href="/learning">Learning</a></div>
    <div><a href="/quiz">Quiz</a></div>

</div> --}}