<div>
    <div><a href="/translate">Translate Now!</a></div>
    <div><a href="/contributions">Contributions</a></div>
    <div><a href="/users">User Profile</a></div>
    <div><a href="/learning">Learning</a></div>
    <div><a href="/quiz">Quiz</a></div>

</div>