<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/public/css/site.css">
    <!-- Favicons -->
  <link href="../../public/template/img/favicon.png" rel="icon">
  <link href="../../public/template/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Raleway:400,700&display=swap"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../../public/template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../public/template/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../../public/template/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
  <link href="../../public/template/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../public/template/vendor/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../public/template/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Template Name: MyPortfolio
    Template URL: https://bootstrapmade.com/myportfolio-bootstrap-portfolio-website-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com/
  ======================================================= -->
</head>

<body>
    <header id="mainHeader">
        
            The Sign Language Portal
            {{!-- <div class="col-md-12 col-lg-6 text-left text-lg-right" data-aos="fade-up" data-aos-delay="100" style="width:700px;">
            <div id="filters" class="filters">
              <a href="#" data-filter="*" class="active">All</a>
              <a href="#" data-filter=".web">Contribute</a>
              <a href="#" data-filter=".design">Profile</a>
              <a href="#" data-filter=".branding">Translate</a>
              <a href="#" data-filter=".photography">Learn</a>
            </div>
          </div> --}}

          {{#if isDisplayLogout}}
          <div>
            <div class="filters2">
              <a href="/dashboard" class="active">Home</a>
              <a href="/contributions">Contribute</a>
              <a href="/users/profile">Profile</a>
              <a href="/translate">Translate</a>
              <a href="/learning" >Learn</a>
              <a href="/quiz" >Quiz</a>
            </div>
          </div>
          {{/if}}

          <div class="logout">
            {{#if isDisplayLogout}}
              <a href = '/logout'>Logout</a>
            {{/if}}
          </div>
          
        
    </header>
    <hr>
    <main id="mainBody">
        {{{body}}}
    </main>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="/public/js/admin.js"></script>
    <script src="/public/js/quiz.js"></script>

</body>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

</html>