<form action="/signup" method="POST" class="new-search-form" id="signup-form">
    <label>
        Enter your firstname
        <input type="text" name="firstname" id="firstname" placeholder="firstname" class="full-width-input" required />
    </label>

    <label>
        Enter your lastname
        <input type="text" name="lastname" id="lastname" placeholder="lastname" class="full-width-input" required />
    </label>
    <label>
        Enter your username
        <input type="text" name="username" id="username" placeholder="username" class="full-width-input" required />
    </label>
    <label>
        Enter your password
        <input type="password" name="password" id="password" placeholder="password" class="full-width-input" required />
    </label>
    {{!-- {{#if hasError}}
    <p class="error">Response status code(401): Please provide valid username and/or password</p>
    {{/if}} --}}

    <button type="submit">Sign Up</button>
</form>