<form action="/login" method="POST" class="new-search-form" id="login-form">
    <label>
        Enter your username
        <input type="text" name="username" id="username" placeholder="username" class="full-width-input" required />
    </label>
    <label>
        Enter your password
        <input type="password" name="password" id="password" placeholder="password" class="full-width-input" required />
    </label>
    {{#if hasError}}
    <p class="error">Response status code(401): Please provide valid username and/or password</p>
    {{/if}}

    <button type="submit">Login</button>
</form>