<div>
  <span>
    First Name:
  {{userData.userInfo.firstname}}
  </span>
  
  <br/>
  <span>Last Name: {{userData.userInfo.lastname}}</span> 
  <br/>
  <span>User Type: {{userData.userInfo.userType}}</span> 
  <br/>
  <span>Number of pending Contributions: {{userData.contributionsInfo}}</span>

    
</div>