<div>
    
    <div><button type="submit" class="quizType" value="beginner">Beginner</button></div>
    <div><button type="submit" class="quizType" value="intermediate">Intermediate</button></div>
    <div><button type="submit" class="quizType" value="advanced">Advanced</button></div>
</div>