<div>
    <div>Select language</div>
        <input type="radio" class="languageType" name="language" value="ASL"> ASL<br>
        <input type="radio" class="languageType" name="language" value="BSL"> BSL<br>
    
    <div><button type="submit" class="quizType" value="beginner">Beginner</button></div>
    <div><button type="submit" class="quizType" value="intermediate">Intermediate</button></div>
    <div><button type="submit" class="quizType" value="advanced">Advanced</button></div>
</div>