<title>Translate Module!</title>
<div class="container">
    <div id="resultImage" class="row"></div>
    <div class="row">
    <section>
        Say the word you wish to translate!
        You just said <span id="spoken"></span>
    </section>
    <section>
        <button id="stop">Stop</button>
    </section>
    <div id="signObj">
        
    </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/public/js/translate.js"></script>


