<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/public/js/translate.js"></script>


<div class="container">
    <div id="resultImage" class="row"></div>
    <div class="row">
        <div id="listening">Listening..</div>    
        
        
        <div id="signObj">
            <span id="spoken"></span>
        </div>
    </div>
    <div class="row">
            <button id="stop">Stop Listening</button>
            <button id="start">Start Listening</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/public/js/translate.js"></script>



